body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

h1 h2 h3 {
  color: #2e2f42;
}

a {
  text-decoration: none;
  font-style: normal;
  color: initial;
}

li {
  list-style-type: none;
}

.logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.studio-class {
  color: #2e2f42;
}

.menu-navigation {
  color: #2e2f42;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.menu-navigation:hover {
  color: #404bbf;
}
.menu-navigation:focus {
  color: #404bbf;
}

.menu-navigation:active {
  color: #404bbf;
}

.address-styles {
  font-style: normal;
  color: #434455;
}

.mail:hover,
.tel:hover {
  color: #404bbf;
}

.hero {
  background-color: #2e2f42;
}

.main-header {
  color: #ffffff;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  text-align: center;
}

.button-style {
  background-color: #4d5ae5;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
}
button:hover {
  background-color: #404bbf;
}

button:focus {
  background-color: #404bbf;
}

.section-two-our-team {
  background-color: #f4f4fd;
}

.second-header {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}

.third-header {
  color: #2e2f42;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.section-three-our-portfolio {
  background-color: #f4f4fd;
}

.footer {
  background-color: #2e2f42;
}
.footer-text {
  color: #f4f4fd;
}
.studio-footer {
  color: #f4f4fd;
}

.text-of-the-paragraphs {
  font-size: 16px;
}

.portfolo-list {
  background-color: #ffffff;
}
.portfolio-list-punkt {
  background-color: #ffffff;
}
